@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@{ ViewBag.Title = "Iniciar Sesión";
                ;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartClick - @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @await Component.InvokeAsync("RegisterCommonsOffline")

    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page" style="        background-color: #F68713;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: auto;">
    <div class="website-logo">
        
        <div class="logo" style="max-width:unset; min-width:unset;">
            @*<img class="logo-size" src="~/images/logo_horizontal.png" style="width: 250px;">*@
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 login-panel-left"></div>
        <div class="col-md-4 login-panel-right">
            <div class="login-box">
                <br />
                <div class="login-logo">
                    @*<img class="logo-size" src="~/images/logo_horizontal.png" style="width: 250px;">*@      
                </div>
                <!-- /.login-logo -->
                
                <div class="login-box-body no-pad-top" style="        border-radius: 10px;
        opacity: 0.9;
        background-color: #FFFFFF !important;
        border:1px white solid;
        padding-top: 20px !important;">
                    @*<a href="/Home/Index" style="color: white;font-size: 24px;"><b>SmartClick</b></a>*@
                        <img class="logo-size" src="~/images/logo_horizontal.png" style="width: 250px;">
                    @RenderBody()


                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
