@using Commons.HtmlHelpers
@model object

@using (Html.BoxBody())
{
    <span class="text-muted">
        <p style="text-align: center; margin: 0">Esta información no está disponible.</p>
    </span>
}