@model DAL.Models.SistemasFinanciacion
@{
    ViewData["Title"] = "Nuevo Sistemas de Financiación";
}
<form method="post" asp-action="_Create" asp-controller="SistemasFinanciacion" asp-area="Core" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
        <button type="submit" class="btn btn-info pull-right">Agregar</button>
    </div>
</form>
