@using Commons.HtmlHelpers
@model DAL.Models.CuotaSocial
@{
    ViewData["Title"] = "Editar Cuota Social";
}
<form asp-action="_Cuota">

    @using (Html.BoxBody())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TipoPersona" />
        <div class="form-group">
            <label asp-for="ValorCuota" class="control-label"></label>
            <input asp-for="ValorCuota" class="form-control" />
            <span asp-validation-for="ValorCuota" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImpusoCuota" class="control-label"></label>
            <input asp-for="ImpusoCuota" class="form-control" />
            <span asp-validation-for="ImpusoCuota" class="text-danger"></span>
        </div>
    }
    @using (Html.BoxFooter())
    {
        <a class="btn btn-default" asp-action="Index">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    }

</form>