@using Commons.HtmlHelpers
@model DAL.Models.TiposPersonas
@{
    ViewData["Title"] = "Borrar Tipo de Persona: " + Model.nombre;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Delete">
            @using (Html.BoxDefault(BoxColor.Info))
            {
                using (Html.BoxHeader("Información")) { }
                using (Html.BoxBody())
                {
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="LimiteCuotas" class="control-label"></label>
                        <input asp-for="LimiteCuotas" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="TopePrestamo" class="control-label"></label>
                        <input asp-for="TopePrestamo" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="MontoAmpliacion" class="control-label"></label>
                        <input asp-for="MontoAmpliacion" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Organismo" class="control-label"></label>
                        <select asp-items="@ViewBag.Organismo" asp-for="Organismo.Id" class="form-control" disabled></select>
                    </div>
                }
                using (Html.BoxFooter())
                {
                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    <input type="submit" value="Borrar" class="btn btn-primary pull-right" />
                }
            }
        </form>
    </div>
</div>
