@page
@model eMutual.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Password Recuperada!";
}

<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p class="login-box-msg">@ViewBag.Title</p>
    <div class="form-group has-feedback">
        Su Contraseña Ha Sido Recuperada.
    </div>
    <div class="form-group has-feedback" style="height:36px">
        <a asp-page="./Login" class="btn btn-primary pull-right">Ingresar a SmartClick</a>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />
