@model DAL.DTOs.DestinoFondosDTO
@{
    ViewData["Title"] = "Nuevo Destino de Fondos";
}
<form method="post" asp-action="_Create" asp-controller="DestinosFondos" asp-area="Core" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="RubrosSeleccionados" class="control-label"></label>
                    <select asp-items="Model.Rubros" asp-for="RubrosSeleccionados" class="form-control" title="Seleccione el Rubro" searchable="true" multiple></select>
                    <span asp-validation-for="RubrosSeleccionados" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
        <button type="submit" class="btn btn-info pull-right">Agregar</button>
    </div>
</form>
