@using Commons.HtmlHelpers
@model DAL.DTOs.DestinoFondosDTO
@{
    ViewData["Title"] = "Borrar Destino de Fondos: " + Model.Nombre;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Delete" asp-antiforgery="true">
            @using (Html.BoxDefault(BoxColor.Info))
            {
                using (Html.BoxBody())
                {
                    <input type="hidden" asp-for="DestinoFondosId" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="RubrosSeleccionados" class="control-label"></label>
                                <select asp-items="Model.Rubros" asp-for="RubrosSeleccionados" class="form-control" title="Seleccione los Rubros" multiple disabled></select>
                            </div>
                        </div>
                    </div>
                }
                using (Html.BoxFooter())
                {
                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    <input type="submit" value="Borrar" class="btn btn-danger pull-right" />
                }
            }
        </form>
    </div>
</div>
