@{
    ViewData["Title"] = "Vendedores";
    ViewData["BackArrow"] = "/Home/Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border filtro-grilla">
                <div class="row">
                    <div class="col-md-2"><h4>Listado de Vendedores</h4></div>
                    <div class="col-md-10">
                        <a onclick="nuevoVendedor()" title="Nueva Vendedor" asp- class="pull-right btn btn-info btn-sm">
                            <i class="fa fa-plus"><span class="hidden-xs"> Nuevo</span></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover table-bordered table-responsive borde_interno" id="VendedorDataTable"></table>
            </div>
        </div>
    </div>
</div>
<modal title="Nuevo Vendedor" callback-modal="true" function="nuevoVendedor" load-url="/Core/Vendedores/_Create/" size="Large"></modal>
<modal title="Edición de Vendedor" callback-modal="true" function="editVendedor" load-url="/Core/Vendedores/_Update/" size="Large"></modal>
<modal title="Borrar Vendedor" callback-modal="true" function="deleteVendedor" load-url="/Core/Vendedores/_Delete/" size="Large"></modal>
<script type="text/javascript">
$(function () {
    var table = $('#VendedorDataTable').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: '@Url.Action("VendedoresDataTable")',
                    type: "POST",
                    },
                rowId: 'Id',
                columns: [
                    { data: "NroDocumento", title: "DNI"},
                    { data: "Nombre", title: "Nombre"},
                    { data: "Domicilio", title: "Domicilio"},
                    { data: "Telefono", title: "Telefono"},
                    { data: "Mail", title: "Mail"},
                    {
                        "title": "Acciones",
                        "sortable": false,
                        "render": function(data, type, row) {
                            var action = '';
                            action = action + `<a datatoggle='tooltip' title='Editar Vendedor' onclick="editVendedor('${row['Id']}')" class="btn btn-primary btn-xs"><i class=" fa fa-file-text-o"></i></a> `;
                            action = action + `<a datatoggle='tooltip' title='Borrar Vendedor' onclick="deleteVendedor('${row['Id']}')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a> `;
                            return action;
                        }
                    }
                ]
    });
})
</script>