@using Commons.HtmlHelpers
@{
    ViewData["Title"] = "Cargar Adjunto de Transferencia Empresa";
    int cont = 0;
}

<form asp-action="_AdjuntoFotoCertificadoDescuento" enctype="multipart/form-data">

    @using (Html.BoxBody())
    {
        @if (ViewBag.CargarAdjunto)
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.PrestamoId" name="Id"  /><div class="form-group">
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-md-12">
                        <label class="control-label">Seleccione Adjunto:</label>
                        <input class="preview" type="file" name="AdjuntoPrestamo" data-div="AdjuntoPrestamoUpdate" multiple />
                        <span id="alertaAdjuntoPrestamo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr>
        }
            <div class="row">
                <div style=" text-align: center; ">
                    @if (ViewBag.AdjuntoTransferencia != null)
                    {
                        <div id="AdjuntoPrestamoUpdate" class="row container-fluid"><br>
                            @foreach (var item in ViewBag.AdjuntoTransferencia)
                            {
                            <div id="divFoto-@item.Id" class="divFoto-@item.Id">
                                <div class="col-lg-3 col-xs-6" style="padding-bottom:20px">
                                    <img src="data:image/gif;base64,@item.Adjunto" style="height:200px;width:200px" />
                                    @if (ViewBag.CargarAdjunto)
                                    {
                                        <a onclick="borrarAdjunto(@item.Id)" class="btn btn-danger" style="width:200px">Borrar</a>
                                    }
                                </div>
                                </div>
                            }
                        </div>
                    }     
                </div>
            </div>
        }
        @using (Html.BoxFooter())
        {
            <a class="btn btn-default" asp-action="Index">Cancelar</a>
            @if (ViewBag.CargarAdjunto)
            {
                <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
            }
        }

    </form>

<script>
    function borrarAdjunto(id) {
        Swal.fire({
            title: '¿Desea borrar el Archivo Adjunto?',
            text: "Se borrar definitivamente el adjunto.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: "/Core/BandejaDeAprobacion/BorrarAdjuntoFotoCertificado",
                    data: {
                        id: id,
                    },
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $('#divFoto-' + id).empty();
                        Swal.fire(
                            'Eliminado',
                            'El adjunto fue Eliminado.',
                            'success'
                        )
                    }
                });

               
            }
        })
    };
</script>