@using Commons.HtmlHelpers
@model DAL.Models.LineasPrestamosTiposPersonas
@{
    ViewData["Title"] = "Agregar Tipo de Persona a Linea de Prestamo";
}
<form asp-action="_AddTipoPersonaLineasPrestamos">

    @using (Html.BoxBody())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="LineaPrestamo.Id" value="@ViewBag.LineaPrestamoId" />
        <div class="form-group">
            <label asp-for="TipoPersona" class="control-label"></label>
            <select asp-items="@ViewBag.TipoPersonas" name="tiposPersonas" class="form-control" multiple searchable="true"></select>
            <span asp-validation-for="TipoPersona" class="text-danger"></span>
        </div>
    }
    @using (Html.BoxFooter())
    {
        <a class="btn btn-default" asp-action="Index">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    }
</form>