@using Commons.HtmlHelpers
@using SmartClickCore.Areas.Administracion.ViewModels
@model UsuarioPasswordVM
@{
    ViewData["Title"] = "Actualizar Password";
}
<form method="post" asp-action="UpdatePasswordWeb" asp-controller="Usuarios" asp-area="Administracion" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    @using (Html.BoxDefault(BoxColor.Info))
    {
    using (Html.BoxBody())
    {
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    }
    @using (Html.BoxFooter())
    {

    <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>

    }
    }
</form>
