@using Commons.HtmlHelpers
@using SmartClickCore.Areas.Administracion.ViewModels
@model UsuarioVM
@{
    ViewData["Title"] = "Editar Usuario";
}
<form method="post" asp-action="Update" asp-controller="Usuarios" asp-area="Administracion" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    @using (Html.BoxDefault(BoxColor.Info))
    {
        using (Html.BoxBody())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Persona.Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Mail" class="control-label"></label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Persona.TipoDocumento" class="control-label"></label>
                    <select asp-items="Model.TipoDocumento" asp-for="Persona.TipoDocumento.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Persona.TipoDocumento" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Persona.NroDocumento" class="control-label"></label>
                        <input asp-for="Persona.NroDocumento" class="form-control" />
                        <span asp-validation-for="Persona.NroDocumento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Persona.Nombres" class="control-label"></label>
                        <input asp-for="Persona.Nombres" class="form-control" />
                        <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Persona.Apellido" class="control-label"></label>
                        <input asp-for="Persona.Apellido" class="form-control" />
                        <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Persona.Genero" class="control-label"></label>
                    <select asp-items="Model.Genero" asp-for="Persona.Genero.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Persona.Genero" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <br /><label asp-for="Administrador" class="control-label"></label>
                    <input type="checkbox" asp-for="Administrador" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Persona.Cuil" class="control-label"></label>
                        <input asp-for="Persona.Cuil" class="form-control" />
                        <span asp-validation-for="Persona.Cuil" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Persona.EstadoCivil" class="control-label"></label>
                    <select asp-items="Model.EstadoCivil" asp-for="Persona.EstadoCivil.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Persona.EstadoCivil" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Persona.FechaNacimiento" class="control-label"></label>
                        <input asp-for="Persona.FechaNacimiento" class="form-control" />
                        <span asp-validation-for="Persona.FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Persona.Pais" class="control-label"></label>
                    <select asp-items="Model.Pais" asp-for="Persona.Pais.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Persona.Pais" class="text-danger"></span>
                </div>
            </div>
        }
        @using (Html.BoxFooter())
        {

            <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
            <button type="submit" class="btn btn-info pull-right">Guardar</button>

        }
    }
</form>
