@using Commons.HtmlHelpers
@model DAL.Models.Clientes
@{
    ViewData["Title"] = $"Agregar Teléfono a {Model.Persona.Apellido} {Model.Persona.Nombres}";
}
<form method="post" asp-action="_AgregarTelefono" asp-controller="PrestamosAprobados" asp-area="Core" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    @using (Html.BoxDefault(BoxColor.Info))
    {
        using (Html.BoxBody())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Persona.NroDocumento" class="control-label" hidden/>
            
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
        }
        @using (Html.BoxFooter())
        {

            <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
            <button type="submit" class="btn btn-info pull-right">Guardar</button>

        }
    }
</form>
