@using Commons.HtmlHelpers
@model DAL.Models.MatrizRiesgoRenglones
@{
    ViewData["Title"] = "Crear Renglon de Matriz de Riesgo";
}
<form asp-action="_CreateRenglon">

    @using (Html.BoxBody())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Cabecera.Id" value="@ViewBag.MatrizId">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Probabilidad" class="control-label"></label>
                    <select asp-items="@ViewBag.Probabilidades" asp-for="Probabilidad.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Probabilidad" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Consecuencia" class="control-label"></label>
                    <select asp-items="@ViewBag.Consecuencias" asp-for="Consecuencia.Id" class="form-control" searchable="true"></select>
                    <span asp-validation-for="Consecuencia" class="text-danger"></span>
                </div>
            </div>
        </div>
    }
    @using (Html.BoxFooter())
    {
        <a class="btn btn-default" asp-action="Index">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    }

</form>