@using Commons.HtmlHelpers
@model DAL.Models.CampanaDTO
@{
    ViewData["Title"] = "Resultado de Mailing";
}
<form asp-action="_Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Resultados</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cantidad Personas</label>
                        <input asp-for="CantidadPersonas" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tiempo Generacion</label>
                        <input asp-for="CantidadMinutos" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>