@using Commons.HtmlHelpers
@model DAL.Models.Novedades
@{
    ViewData["Title"] = "Crear Novedad";
}
    <form asp-action="Create">

        @using (Html.BoxDefault(BoxColor.Info))
        {
            using (Html.BoxHeader("Nueva"))
            {
            }
            using (Html.BoxBody())
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Texto" class="control-label"></label>
                    <textarea asp-for="Texto" rows="10" class="form-control" style="text-wrap:normal" type="text" placeholder="Describa el Texto de la Novedad"></textarea>
                    <span asp-validation-for="Texto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publica" class="control-label"></label>
                    <input asp-for="Publica" type="checkbox" class="form-control" />
                </div>
            }
            using (Html.BoxFooter())
            {
                <a class="btn btn-default" asp-action="Index">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
            }
        }
    </form>