@using Commons.HtmlHelpers
@model DAL.Models.Novedades
@{
    ViewData["Title"] = "Editar Novedad: " + Model.Titulo;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Update">
            @using (Html.BoxDefault(BoxColor.Info))
            {
                using (Html.BoxHeader("Información")) { }
                using (Html.BoxBody())
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Texto" class="control-label"></label>
                        <textarea asp-for="Texto" rows="10" class="form-control" style="text-wrap:normal" type="text" placeholder="Describa el Texto de la Novedad"></textarea>
                        <span asp-validation-for="Texto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Color</label>
                        <div class="col-sm-10">
                            <select asp-items="@ViewBag.Colores" name="colorId" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Publica" class="control-label"></label>
                        <input asp-for="Publica" type="checkbox" class="form-control"/>
                    </div>
                }
                using (Html.BoxFooter())
                {
                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Esta seguro de borrar este registro?');" class="btn btn-danger">Borrar</a>
                    <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
                }
            }
        </form>
    </div>
</div>