@using Commons.HtmlHelpers
@model DAL.Models.Core.Rubro
@{
    ViewData["Title"] = "Crear Rubro";
}
<form asp-action="_Create" asp-antiforgery="true">

    @using (Html.BoxBody())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Seleccione Imagen para la APP:</label>
                        <input class="preview" type="file" name="Imagen" data-div="ImagenUpdate" />
                        <span id="alertaImagen" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style=" text-align: center; ">
                        <div id="ImagenUpdate">
                            @if (@ViewBag.Imagen != null)
                            {
                                <img src="data:image/gif;base64,@ViewBag.Imagen" style="height:80px;width:80px" />
                            }
                        </div>
                    </div>
                </div>
            </div>
    }
    @using (Html.BoxFooter())
    {
        <a class="btn btn-default" asp-action="Index">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    }

</form>